<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Biblioteka{% endblock %}</title>
</head>
<body>
<header>
    <h1>Biblioteka</h1>
</header>
<main>
    {% block content %}<h1>Hello WORLD!</h1>{% endblock %}
</main>
<footer>
    <p>
        &copy; 2023 <a href="https://github.com/Krystian-Isu">@Krystian-Isu</a> & <a href="https://github.com/ssynowiec">@ssynowiec</a> All rights reserved.
    </p>
</footer>
</body>
</html>